body
{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container
{
    padding: 25px;
    width: 60%;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.header
{
    background-color: rgb(76, 76, 76);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.PI h4
{
    color: rgb(13, 94, 107);
    padding-top: 10px;
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
  
}

.PI
{
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    margin: 20px 0;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
      /* color: blue; */
}

.inputs,
.inputs1
{
    margin-left: 40px;
    margin-top: 10px;
    text-align: left;
}

.inputs label,
.inputs1 label
{
    display: inline-block;
    width: 220px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}

input,
select
{
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

input:focus,
select:focus
{
    border-color: #555;
}

#Percentage
{
    width: 120px;
}

select
{
    height: 40px;
}

.gender-box
{
    display: inline-block;
}

.gender-box input
{
    width: auto;
    margin-left: 10px;
}

.submit-btn
{
    text-align: center;
    margin-top: 20px;
}

.submit-btn button
{
    background-color: rgb(76, 76, 76);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn button:hover
{
    background-color: black;
}

.clear-btn button
{
    background-color: rgb(217, 70, 70);
    color: white;
    border: none;   /* important */
    outline: none;  /* important */
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.clear-btn  button:hover
{
    background-color: rgb(255, 0, 0);
}




.clear-btn 
{
    text-align: center;
    margin-top: 20px;
}

.btnn
{
    display:flex;
    flex-direction: row;
     gap: 20px;
}