table
{
    width: 100%;
    border-collapse: collapse;
}
th{
    height: 30px;
}
td{
    width: 25%;

}
/* input, select
{
    border: none;
    text-decoration: underline;
} */
#submit
{
    text-align: center;
}